[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target
[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/realestate_django_backend
ExecStart=/home/ubuntu/env/bin/gunicorn --access-logfile - --workers 3 --bind unix:/home/ubuntu/realestate_django_backend/realestate_django_backend/realestate_django_backend.sock blog.wsgi:application

       
[Install]
WantedBy=multi-user.target